body { 
    text-align: center;
    background-color: aqua;


}
head {
    text-align: center;
}

       
        

        p {
            background-color: chartreuse
        }

        h1 {
            color: chartreuse
        }
        
        table, th, td {
          border: 1px solid black;
          background-color: blueviolet;
         
    
        }
        a:hover{
            background-color: beige;
        }
        