body { 
    text-align: center;
    background-color: aqua;


}
head {
    text-align: center;
}

       
        

        p {
            background-color: rgb(8, 15, 1)
        }

        h1 {
            color: rgb(2, 1, 27)
        }
        
        table, th, td {
          border: 1px solid black;
          background-color: blueviolet;
         
    
        }
        a:hover{
            background-color: beige;
        }
        