#fullcontainers {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.soldoutt {
    position: absolute;
    top: 50%;
    background-color: red;
    
    
}
img {
    width: 400px;
}
.products {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: solid 1px red;
    align-items: center;
    margin: 10px;
}
